* {
    box-sizing: border-box
}

.navbar {
    height: 100px;
    position: relative;
    display: flex;
    z-index: 1;
}

.label {
    line-height: 100px;
    display: block;
    height: 50px;
    width: 50px;
}

.menu {
    text-align: center;
    width: 100px;
    z-index: 100;
    display: none;
}

.menu a{
    text-decoration: none;
    color: black;
    display: block;
    margin: 0;
}

#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: block;
}