* {
    box-sizing: border-box
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile {
    margin: 0 20px;
    font-size: 15px;
    text-decoration: underline;
}

.userPhoto {
    height: 60px;
    width: 70px;
    border-radius: 30px;
}

.navbar {
    height: 100px;
    position: relative;
    display: flex;
    z-index: 1;
}

.label {
    line-height: 100px;
    display: block;
    height: 50px;
    width: 50px;
}

.bars {
    height: 30px;
    width: 30px;
    margin-top: 30px;
}

.menu {
    text-align: center;
    width: 220px;
    z-index: 100;
    display: none;
    position: absolute;
    right: 0;
    top: 107px;
    font-size: 25px;
    background: #b587e0;
    border: 1px solid black;
}

.menu a{
    text-decoration: none;
    color: black;
    display: block;
    margin: 40px;
    border-bottom: solid black;
}

#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: block;
}
.profile p {
    margin: 0;
}