* {
    box-sizing: border-box;
}

.inputBars {
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.inputName {
    margin-right: 10px;
    text-align: center;
}

.inputLocation {
    text-align: center;
}

.btn {
    border-radius: 35px;
    background: #85dddc;
    width: 75px;
    height: 25px;
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid #85dddc;
    margin: 10px;
}

.btn:hover {
    background: white;
    transform: translateY(-1px)
}

.btn:active {
    transform: translateY(1px)
}